{{! Podemos escribir cualquier sintaxis de html, ademas de otras caracteristicas}}

<div class="card"> {{! Tarjeta}}
    <div class="card-bdy">
        <h1>About</h1>  {{! Titulo}}
        <p>Notes se trata de una herramienta que nos permitirá llevar información 
            por medio de un archivo de notas, permitiendo así tener los apuntes o ideas en los equipos 
            de escritorio, portátiles o dispositivos móviles.</p> {{! Texto de ejemplo}}
    </div>
</div>