{{! Podemos escribir cualquier sintaxis de html, ademas de otras caracteristicas}}

        
<div class="card"> {{! Tarjeta}}
    <div class="card-bdy text-center">
        <h1>Acerca de</h1>  {{! Titulo}}
        <h3> Somos tu mejor opcion...</h3> {{! Texto de ejemplo}}
        <h4>Los mejores productos, excelente calidad en nuestros
        servicios y las mejores herramientas solo para consentirte
        a ti como nuestro cliente te esperamos en Calle Nayarit #3 de Parangarico</h4>
        
    </div>
</div>
<img src="/img/PRODUCTOS.jpg" class="mx-auto d-block m-4 productos float-left" alt="Productos">
        <img src="/img/SERVICIOS.jpg" class="mx-auto d-block m-4 servicios float-right" alt="Servicios"