{{! Para colocar tanto en la pagina principal como en la pgina de about}}

<div class="jumbotron mt-4">  {{!Recuadro Grande con marco de 4}}
    <h1 class="display-4">Aplicacion Notes Nodejs  Mongodb</h1> {{!Texto grande con el nombre de la app}}
    <p class="lead">Recuerdalo Todo.</p> {{!Texto de ejemplo}}
    <hr class="my-4"> {{!Linea divisora con Margen de 4}}
    <p>El objetivo de Notes es facilitar la organización personal y profesional, ya sea de una sola 
        persona, una empresa o un equipo de trabajo, de forma que toda la información y archivos asociados 
        a un trabajo aparezcan unificados, permite organizar la información personal a través del archivo de 
        notas independientemente del lugaren que se encuentre el usuario o el dispositivo conectado que utilice.</p> {{!Texto de ejemplo}}
    <a href="/users/signin" class="btn btn-primary btn-lg">Iniciar</a> {{!Redirecciona al inicio}}
</div>   

