{{! Para colocar tanto en la pagina principal como en la pgina de about}}

<div class="jumbotron mt-4">  {{!Recuadro Grande con marco de 4}}
    <h1 class="display-4">Alpha Barber Notes Notes</h1> {{!Texto grande con el nombre de la app}}
    <p class="lead">#SeUnAlpha</p> {{!Texto de ejemplo}}
    <hr class="my-4"> {{!Linea divisora con Margen de 4}}
    <p></p> {{!Texto de ejemplo}}
    <a href="/users/signin" class="btn btn-primary btn-lg">Iniciar</a> {{!Redirecciona al inicio}}
</div>   

