{{!  }}

{{#if error}} {{! si existe alguna variable global llamada error passport tiene un error que mostrar}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

{{#each errors}} {{!--Si existe algun error muestra una alerta--}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}