<!-- Footer -->
<footer class="page-footer font-small blue">

<div class="form-group col-md-2 mx-auto">
  <!-- Facebook -->
<a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
  ><i class="fab fa-facebook-f"></i
></a>

<!-- Whatsapp -->
<a class="btn btn-primary" style="background-color: #25d366;" href="#!" role="button"
  ><i class="fab fa-whatsapp"></i
></a>

<!-- Instagram -->
<a class="btn btn-primary" style="background-color: #d9317a;" href="#!" role="button"
  ><i class="fab fa-instagram"></i
></a>
</div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-5">© 2022 Copyright By:
    <a> MESAE</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->