<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-5">© 2021 Copyright:
    <a> Systems Center</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->