{{! Plantilla para todas las paginas o vistas, color de fondo, navegacion, footer}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas</title>    {{! Nombre de la aplicacion}}
    <!-- USO DE BOOTSTRAP 4 CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
    <!--FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />  <!--PARA ICONOS -->
    <!-- CUSTOM CSS-->
    <link rel="stylesheet" href="/css/main.css"> <!--direccion de la carpeta css-->

</head>
<body>

    {{> navegacion }}  {{! Partial para usar la navegacion}}

    {{! Es lo unico que comabia en las vistas}}
    <main class="container p-4"> {{! Define el contenido principal y ajusta el texto a 4}}
         {{> messages }} {{!llama el partial messages para mostar los mensajes en todas las vistas}}
         {{> errors }} {{!llama el partial errors para mostar los posibles errores}}
         {{{body}}} {{! El body solo es el que cambia}}
    </main>

    {{> footer }}    {{! Plantilla footer para todas las vistas}}
    
 {{!Scripts ... para cerrar mensaje error}}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>